{% extends "layouts/_layout.html" %}
{% set title = "Cabinet | Workspace Popup" %}

{% block content %}

<div class="pp-bg"></div>
<div class="pp-content">
	<div class="pp-content__wrap">
		<div class="pp-box pp-box--opacity pp-box--sm">
			<div class="pp-box__wrap">
				<div class="vexel-card">
					<div class="vexel-card__wrap">
						<div class="vexel-card__top">
							<div class="vexel-card__title">Vexel details</div>
							<div class="vexel-card__fav">
								<a href="#" class="fav-link fav-link--lg">Favorite</a>
							</div>
						</div>

						<div class="vexel-card__main">
							<div class="vexel-card__visual">
								<div class="vexel-card__cover">
									<img src="img/img_blank-qr.svg" width="130" height="130" alt="" class="vexel-card__qr">
								</div>
							</div>

							<div class="vexel-card__control">
								<div class="vexel-control">
									<div class="vexel-control__list">
										<div class="vexel-control__item">
											<a href="#" class="ilink ilink--sm">
												<span class="ilink__icon ilink__icon--change"></span>
												<span class="ilink__label">Change</span>
											</a>
										</div>
										<div class="vexel-control__item">
											<a href="#" class="ilink ilink--sm">
												<span class="ilink__icon ilink__icon--copy-blank"></span>
												<span class="ilink__label">Copy</span>
											</a>
										</div>
										<div class="vexel-control__item">
											<a href="#" class="ilink ilink--sm">
												<span class="ilink__icon ilink__icon--share"></span>
												<span class="ilink__label">Share</span>
											</a>
										</div>
									</div>
								</div>
							</div>

							<div class="vexel-card__info">
								<div class="vexel-card__item">
									<div class="vexel-card__label">Number</div>
									<div class="vexel-card__num">3242 5625 5425</div>
								</div>
								<div class="vexel-card__item">
									<div class="vexel-card__label">Code</div>
									<div class="vexel-card__num">0000 1111 2222 3333 4444</div>
								</div>
							</div>
						</div>

						<div class="vexel-card__bottom">
							<div class="vexel-card__b-left">
								<div class="vexel-card__value">
									<div class="vexel-value vexel-value--lg">
										<span class="vexel-value__qty">565.8035352</span>
										<span class="vexel-value__type">BTC</span>
										<span class="vexel-value__btn">
											<button class="btn-lock">Lock</button>
										</span>
									</div>
								</div>

								<div class="vexel-card__on-way">
									<div class="vexel-on-way">
										<span class="vexel-on-way__value">160 BTC, 39 USD</span>
										<span class="vexel-on-way__label">on the way</span>
									</div>
								</div>

								<div class="vexel-card__request">
									<a href="#" class="ilink">Request Money</a>
								</div>
							</div>
							<div class="vexel-card__b-right">
								<div class="vexel-card__protect">
									<div class="vexel-protect">
										<div class="vexel-protect__visual">
											<div class="vexel-protect__cover">
												<span class="vexel-status vexel-status--bad"></span>
											</div>
										</div>
										<div class="vexel-protect__main">
											<div class="vexel-protect__btns">
												<div class="vexel-protect__btn">
													<a href="#" class="btn btn--co">Protect Vexel</a>
												</div>
											</div>

											<div class="vexel-protect__info">
												This vexel currently has no protection. You can protect it with password or Google Authenticator
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="vexel-card__nav">
							<a href="#" class="ilink ilink--goto">Go to Vexel History</a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="pp-box__ctrl hidden">
				<div class="slider-ctrl">
					<div class="slider-ctrl__item slider-ctrl__prev">
						<button class="slider-btn slider-btn--prev">Prev</button>
					</div>
					<div class="slider-ctrl__item slider-ctrl__next">
						<button class="slider-btn slider-btn--next">Next</button>
					</div>
				</div>
			</div>

			<div class="pp-box__dots hidden">
				<div class="slider-dots">
					<ul class="slider-dots__list">
						<li class="slider-dots__item">
							<button class="dots-btn dots-btn--active"></button>
						</li>
						<li class="slider-dots__item">
							<button class="dots-btn"></button>
						</li>
						<li class="slider-dots__item">
							<button class="dots-btn"></button>
						</li>
						<li class="slider-dots__item">
							<button class="dots-btn"></button>
						</li>
					</ul>
				</div>
			</div>

			<div class="pp-box__extra">
				<div class="pp-pass">
					<div class="pp-pass__wrap">
						<div class="pp-pass__head">
							<div class="pp-pass__title">Vexel protection</div>
						</div>
						<div class="pp-pass__body">
							<form action="" class="pp-pass__form">
								<div class="pp-pass__group">
									<div class="pp-pass__label">Choose security type</div>

									<div class="pp-pass__control">
										<div class="radios">
											<div class="radios__item">
												<label class="radio">
													<input type="radio" name="protection" class="radio__input">
													<span class="radio__label">Password</span>
												</label>
											</div>
											<div class="radios__item">
												<label class="radio">
													<input type="radio" name="protection" class="radio__input" checked>
													<span class="radio__label">Google Authenticator</span>
												</label>
											</div>
										</div>
									</div>
								</div>

								<div class="pp-pass__group">
									<div class="pp-pass__label">Enter your GA-key</div>

									<div class="pp-pass__control">
										<input type="text" class="form-input" value="f724t6rfyg2ywrg832tr8y2t38rt824twrsgd">
									</div>

									<div class="pp-pass__generate">
										<a href="#" class="btn btn--bordered">Generate</a>
									</div>
								</div>

								<div class="pp-pass__submit">
									<button class="btn btn--lg btn--co" type="submit">Enable protection</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% include "includes/header.html" %}

<div class="main">
	<div class="container">
		<div class="cabinet">
			<div class="cabinet__wrap">
				<div class="cabinet__top">
					<div class="cabinet__mode">
						<button class="btn-mode">Dark mode</button>
					</div>
					<div class="cabinet__label">Hello, stranger!</div>
					<div class="cabinet__title">Welcome to your workspace</div>
				</div>

				<div class="cabinet__body">
					<div class="my-vexels">
						<div class="my-vexels__wrap">
							<div class="my-vexels__top">
								<div class="my-vexels__info">
									<div class="my-vexels__added">
										4 vexels added
									</div>
									<div class="my-vexels__selected">
										1/4 selected
									</div>
								</div>

								<div class="my-vexels__ctrl">
									<div class="my-vexels__copy">
										<a href="#" class="ilink">
											<span class="ilink__icon ilink__icon--copy"></span>
											<span class="ilink__label">Copy Vexels</span>
										</a>
									</div>

									<div class="my-vexels__views">
										<div class="vexel-views">
											<div class="vexel-views__list">
												<div class="vexel-views__item">
													<a href="#" class="views-link views-link--active views-link--slider">Slider</a>
												</div>
												<div class="vexel-views__item">
													<a href="#" class="views-link views-link--grid">Grid</a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

							<div class="my-vexels__body">
								<div class="my-vexels__slider">
									<div class="v-slider">
										<div class="v-slider__wrap">
											<div class="v-slider__track">
												<div class="v-slider__list">
													<div class="v-slider__item v-slider__item--active">
														<div class="vexel-teas vexel-teas--lg">
															<div class="vexel-teas__wrap">
																<div class="vexel-teas__top">
																	<div class="vexel-teas__fav">
																		<a href="#" class="fav-link fav-link--active">Favorite</a>
																	</div>
																	<div class="vexel-teas__num">
																		3242 5625 5425
																	</div>
	
																	<div class="vexel-teas__status">
																		<span class="vexel-status vexel-status--good"></span>
																	</div>
																</div>
																<div class="vexel-teas__center">
																	<div class="vexel-teas__pass">
																		<div class="vexel-password">
																			<input type="password" placeholder="Password" class="vexel-password__input">
																		</div>
																	</div>
																</div>
	
																<div class="vexel-teas__bottom">
																	<div class="vexel-teas__value">
																		<div class="vexel-value vexel-value--lock">
																			<span class="vexel-value__qty">115</span>
																			<span class="vexel-value__type">LTC</span>
																		</div>
																	</div>
	
																	<div class="vexel-teas__details">
																		<a href="#" class="ilink disabled">
																			<span class="ilink__icon ilink__icon--details"></span>
																			<span class="ilink__label">Details</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="v-slider__item v-slider__item--active">
														<div class="vexel-teas vexel-teas--lg">
															<div class="vexel-teas__wrap">
																<div class="vexel-teas__top">
																	<div class="vexel-teas__fav">
																		<a href="#" class="fav-link">Favorite</a>
																	</div>
																	<div class="vexel-teas__num">
																		3242 5625 5425
																	</div>
	
																	<div class="vexel-teas__status">
																		<span class="vexel-status vexel-status--bad"></span>
																	</div>
																</div>
																<div class="vexel-teas__center">
	
																</div>
	
																<div class="vexel-teas__bottom">
																	<div class="vexel-teas__value">
																		<div class="vexel-value">
																			<span class="vexel-value__qty">3.800006</span>
																			<span class="vexel-value__type">BTC</span>
																		</div>
																	</div>
	
																	<div class="vexel-teas__details">
																		<a href="#" class="ilink">
																			<span class="ilink__icon ilink__icon--details"></span>
																			<span class="ilink__label">Details</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="v-slider__item v-slider__item--active">
														<div class="vexel-teas vexel-teas--selected vexel-teas--lg">
															<div class="vexel-teas__wrap">
																<div class="vexel-teas__top">
																	<div class="vexel-teas__fav">
																		<a href="#" class="fav-link fav-link--active">Favorite</a>
																	</div>
																	<div class="vexel-teas__num">
																		3242 5625 5425
																	</div>
	
																	<div class="vexel-teas__status">
																		<span class="vexel-status vexel-status--good"></span>
																	</div>
																</div>
																<div class="vexel-teas__center">
	
																</div>
	
																<div class="vexel-teas__bottom">
																	<div class="vexel-teas__value">
																		<div class="vexel-value vexel-value--lock">
																			<span class="vexel-value__qty">1000</span>
																			<span class="vexel-value__type">USD</span>
																		</div>
																	</div>
	
																	<div class="vexel-teas__details">
																		<a href="#" class="ilink">
																			<span class="ilink__icon ilink__icon--details"></span>
																			<span class="ilink__label">Details</span>
																		</a>
																	</div>
																</div>
															</div>
														</div>
													</div>
													<div class="v-slider__item">
														<div class="vexel-teas vexel-teas--lg">
															<div class="vexel-teas__wrap">
																
															</div>
														</div>
													</div>
												</div>
											</div>

											<div class="v-slider__ctrl hidden">
												<div class="slider-ctrl">
													<div class="slider-ctrl__item slider-ctrl__prev">
														<button class="slider-btn slider-btn--prev disabled">Prev</button>
													</div>
													<div class="slider-ctrl__item slider-ctrl__next">
														<button class="slider-btn slider-btn--next">Next</button>
													</div>
												</div>
											</div>

											<div class="v-slider__dots hidden">
												<div class="slider-dots">
													<ul class="slider-dots__list">
														<li class="slider-dots__item">
															<button class="dots-btn dots-btn--active"></button>
														</li>
														<li class="slider-dots__item">
															<button class="dots-btn"></button>
														</li>
														<li class="slider-dots__item">
															<button class="dots-btn"></button>
														</li>
														<li class="slider-dots__item">
															<button class="dots-btn"></button>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="my-vexels__extra">
									<a href="#" class="btn btn--bordered">Add another vexel</a>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="cabinet__bottom">
					<div class="v-controls">
						<div class="v-controls__wrap">
							<div class="v-controls__item">
								<a href="#" class="v-control">
									<div class="v-control__visual">
										<div class="v-control__cover">
											<img src="img/icon_control-replenish-white.svg" width="30" height="27" alt="" class="v-control__icon">
										</div>
									</div>
									<div class="v-control__main">
										<div class="v-control__title">Replenish</div>
										<div class="v-control__description">Replenish vexel</div>
									</div>
								</a>
							</div>
							<div class="v-controls__item">
								<a href="#" class="v-control">
									<div class="v-control__visual">
										<div class="v-control__cover">
											<img src="img/icon_control-withdraw-white.svg" width="30" height="30" alt="" class="v-control__icon">
										</div>
									</div>
									<div class="v-control__main">
										<div class="v-control__title">Withdraw</div>
										<div class="v-control__description">Transfer vexels</div>
									</div>
								</a>
							</div>
							<div class="v-controls__item">
								<a href="#" class="v-control">
									<div class="v-control__visual">
										<div class="v-control__cover">
											<img src="img/icon_control-split-white.svg" width="36" height="26" alt="" class="v-control__icon">
										</div>
									</div>
									<div class="v-control__main">
										<div class="v-control__title">Split</div>
										<div class="v-control__description">Split one vexel to several</div>
									</div>
								</a>
							</div>
							<div class="v-controls__item">
								<a href="#" class="v-control">
									<div class="v-control__visual">
										<div class="v-control__cover">
											<img src="img/icon_control-change-white.svg" width="30" height="20" alt="" class="v-control__icon">
										</div>
									</div>
									<div class="v-control__main">
										<div class="v-control__title">Change</div>
										<div class="v-control__description">Change currency or details</div>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="add-another" id="add-another">
	<div class="container">
		 <div class="add-another__wrap">
			 <div class="add-another__item">
				 <div class="add-another__label">Add another vexel</div>
			 </div>
			 <div class="add-another__item add-another__item--main">
				 <div class="add-another__form">
					<form action="" class="add-form">
						<div class="add-form__group">
							<input type="text" class="form-input" placeholder="0000 0000 0000 - 0000 0000 0000 0000 00">
						</div>
						<div class="add-form__submit">
							<button class="btn btn--co" type="submit">Add</button>
						</div>
					</form>
				 </div>
			 </div>
			 <div class="add-another__item">
				 <div class="add-another__btn">
					 <a href="#" class="btn btn--bordered">Create</a>
				 </div>
			 </div>
			 <div class="add-another__item">
				 <a href="#" class="btn btn--bordered">Choose</a>
			 </div>
		 </div>
	</div>
</div>

{% endblock %}
