{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <link rel="stylesheet" href="css/main.css">
  <link rel="shortcut icon" href="img/favicon.png">
</head>
<body>
  
<div class="main-wrap">
  {% block content %}{% endblock %}
</div>
  
<link property="stylesheet" rel="stylesheet" href="css/third.css">
<link property="stylesheet" rel="stylesheet" href="fonts/stylesheet.css">

<script type="text/javascript" src="js/app.js"></script>
</body>
</html>
