[data-modal] {
  position: fixed;
  z-index: 101;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  min-width: 320px;
  transform: translate3d(0,0,0);
  overflow: auto;
  transition: opacity 0.25s, visibility 0.25s, z-index 0.25s;
  background-color: rgba(#1a202d, 0.5);
  padding: 25px 0;
  backface-visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-y: scroll;
  overflow-x: hidden;
  backface-visibility: hidden;
  &.is-up {
    background-color: transparent;
  }
  .slider-btn--next {
    right: -55px;
  }
  .slider-btn--prev {
    left: -55px;
  }
  .slick-dots {
    padding: 0;
    list-style: none;
    @include flex($j-center, $a-center);
    @include media-down(md) {
      position: absolute;
      bottom: -45px;
      left: 0;
      right: 0;
    }
    @include media-down(sm) {
      bottom: -45px;
    }

    @include media-up(md) {
      display: none !important;
      visibility: hidden;
    }
    li {
      padding-left: 5px;
      padding-right: 5px;
      &.slick-active button {
        background-color: $clr-co;
        cursor: default;
        pointer-events: none;
      }
    }

    button {
      display: block;
      width: 10px;
      height: 10px;
      padding: 0;
      border: 0 none;
      border-radius: 50%;
      background-color: $clr-light;
      cursor: pointer;
      outline: none;
      font-size: 0;
      transition: background-color .4s;
      &:hover {
        background-color: $clr-text;
      }
    }
  }
  .slick-slide {
    height: auto;
  }
  .no-hodden {
    .slick-slide {
      visibility: hidden;
      opacity: 0;
    }
    .slick-slide.slick-active {
      visibility: visible;
      opacity: 1;
    }
  }
  .no-hodden .slick-list {
    overflow: visible !important;
    @include media-down(sm) {
      overflow: hidden !important;
    }
  }
  .slick-list, .slick-track {
    transition: height .3s;
  }
}
  

[data-modal] {
  &.is-open {
    opacity: 1;
    visibility: visible;
    z-index: 101;
  }
  &.is-up {
    z-index: 102;
  }
}

[data-modal-container] {
  position: relative;
  max-width: 770px;
  width: 100%;
  transform: scale(0.7);
  z-index: 1;
  text-align: left;
  transition: transform 0.3s ease-out;
  vertical-align: middle;
  display: inline-block;
  margin: 0 auto;
  [data-modal].is-open & {
    transform: scale(1);
  }
}