[data-tabs] {
	margin: 0 -15px;
	padding: 0 15px;
	// overflow: hidden;
	[data-tabs-control] {
		cursor: pointer;
		user-select: none;

		&[disabled],
		&.is-disabled {
			cursor: not-allowed;
		}
	}
	&.is-tabs-init {
		[data-tabs-container] {
			display: block;
			opacity: 0;
			visibility: hidden;
			transition: opacity 0.4s, visibility 0.4s;
			&.is-open {
				opacity: 1;
				visibility: visible;
			}
		}
	}
	[data-tabs-container] {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		&.is-open {
			position: relative;
		}
	}
	[data-tabs-wrapper] {
		position: relative;
	}
}
	