<header class="header">
	<div class="container">
		<div class="header__wrap">
			<div class="header__logo">
				<a href="./" class="logo">
					<img src="img/logo_main.svg" width="108" height="36" alt="" class="logo__img">
				</a>
			</div>

			<nav class="header__nav h-nav" id="main-nav">
				<div class="h-nav__wrap">
					<ul class="h-nav__list">
						<li class="h-nav__item">
							<a href="#" class="h-nav__link">What is Vexel</a>
						</li>
						<li class="h-nav__item">
							<a href="#" class="h-nav__link">Features</a>
						</li>
						<li class="h-nav__item">
							<a href="#" class="h-nav__link">Cryptocurrency</a>
						</li>
						<li class="h-nav__item">
							<a href="#" class="h-nav__link">Apps</a>
						</li>
						<li class="h-nav__item h-nav__item--interval">
							<a href="#" class="h-nav__link h-nav__link--extra">FAQ</a>
						</li>
						<li class="h-nav__item">
							<a href="#" class="h-nav__link h-nav__link--extra">About</a>
						</li>
						<li class="h-nav__item h-nav__item--btn">
							<a href="#" class="btn btn--co active">Cabinet</a>
						</li>
					</ul>

					<div class="h-nav__extra">
						<div class="h-nav__soci">
							<nav class="soci-nav">
								<ul class="soci-nav__list">
									<li class="soci-nav__item">
										<a href="#" class="soci-nav__link soci-nav__link--vk">vk</a>
									</li>
									<li class="soci-nav__item">
										<a href="#" class="soci-nav__link soci-nav__link--in">in</a>
									</li>
									<li class="soci-nav__item">
										<a href="#" class="soci-nav__link soci-nav__link--tg">tg</a>
									</li>
								</ul>
							</nav>
						</div>
						<div class="h-nav__lng-choice">
							<select class="lng lng--dark">
								<option value="en" selected>En</option>
								<option value="ru">Ru</option>
								<option value="ch">Ch</option>
							</select>
						</div>
					</div>
				</div>
			</nav>

			<div class="header__btn">
				<button class="btn-main">
					<span class="btn-main__line"></span>
					<span class="btn-main__line"></span>
					<span class="btn-main__line"></span>
				</button>
			</div>
		</div>
	</div>
</header>